@page
@model WebUI.Pages.ShopList.EditModel

@{
    ViewData["Title"] = "Liste Duzenle";
}

<h4>Liste Duzenle</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ShoppingList.Id" />
            <div class="form-group">
                <label asp-for="ShoppingList.Name" class="control-label">@(HomeInv.Language.Resources.Generic_Name)</label>
                <input asp-for="ShoppingList.Name" class="form-control" />
                <span asp-validation-for="ShoppingList.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShoppingList.Description" class="control-label">@(HomeInv.Language.Resources.Generic_Description)</label>
                <input asp-for="ShoppingList.Description" class="form-control" />
                <span asp-validation-for="ShoppingList.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@(HomeInv.Language.Resources.Generic_Save)" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">@(HomeInv.Language.Resources.Generic_BackToList)</a>
</div>

