@page
@model WebUI.Pages.ShopList.EditListModel
@{
    ViewData["Title"] = "Liste Icerik Yonetimi";
}

<h4>Liste Icerigini Duzenle</h4>
<hr />

<a class="btn btn-primary" asp-page="AddItemToList" asp-route-id="@Model.ShoppingListId">Yeni Kalem Ekle</a>

<form method="post">
    <input type="hidden" asp-for="ShoppingListId" />

    <table class="table table-responsive table-hover table-dark">
        <thead>
            <tr>
                <th>Urun Adi</th>
                <th>Miktar</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.ListItems.Count(); i++)
            {
                <input type="hidden" asp-for="ListItems[i].Id" />

                <tr>
                    <td>@(Model.ListItems[i].ItemName)</td>
                    <td><input asp-for="ListItems[i].Amount" type="text" class="form-control" /><span>Boyut Birimi: @Model.ListItems[i].SizeUnit.Name</span></td>
                </tr>
            }
        </tbody>
    </table>

    <input type="submit" value="@(HomeInv.Language.Resources.Generic_Save)" class="btn btn-primary" />
</form>
