@page
@model WebUI.Pages.ItemDefinition.EditModel
@{
    ViewData["Title"] = "İtem Düzenleme";
}

<h1>İtem Düzenleme</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        @if (!string.IsNullOrEmpty(Model.Item.ImageName))
        {
            <img src="~/uploads/@(Model.HomeId)/@(Model.Item.ImageName)" />
        }
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Item.Id" type="hidden" />
            <input asp-for="Item.ImageName" type="hidden" />

            <div class="form-group">
                <label asp-for="Item.CategoryId" class="control-label"></label>
                <select asp-for="Item.CategoryId" asp-items="Model.AllCategories" class="form-select"></select>
                <span asp-validation-for="Item.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Name" class="control-label"></label>
                <input asp-for="Item.Name" class="form-control" />
                <span asp-validation-for="Item.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Description" class="control-label"></label>
                <input asp-for="Item.Description" class="form-control" />
                <span asp-validation-for="Item.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormFile" class="control-label"></label>
                <input asp-for="FormFile" type="file" accept="image/*" capture="camera" class="form-control" />
                <span asp-validation-for="FormFile" class="text-danger"></span>
            </div>
            <div class="form-check">
                <label asp-for="Item.IsExpirable" class="form-check-label"></label>
                <input asp-for="Item.IsExpirable" type="checkbox" class="form-check-input" />
                <span asp-validation-for="Item.IsExpirable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="List">Listeye Dön</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
