@page
@inject SignInManager<HomeInv.Persistence.Dbo.User> SignInManager
@inject UserManager<HomeInv.Persistence.Dbo.User> UserManager
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (!SignInManager.IsSignedIn(User))
{
    <p>Selam, üye olun hemen.</p>
}
