image: Visual Studio 2022
configuration: Release
#platform: Any CPU

before_build:
- cmd: nuget restore src/HomeInventoryWebApi.sln

build:
  project: src/HomeInventoryWebApi.sln
  publish_wap: true
  verbosity: minimal

after_build:
- ps: >-
    If ($env:APPVEYOR_REPO_BRANCH -eq "master" -And $env:APPVEYOR_REPO_BRANCH -eq "staging") {
        Write-Host "Starting publish"
    
        dotnet publish --self-contained -r win-x86 -o publish/WebBlazor -c Release src\Presentation\WebBlazor/WebBlazor.csproj
        
        7z a WebBlazor.zip .\publish\WebBlazor\*
        
        appveyor PushArtifact WebBlazor.zip
    }
    Else
    {
        Write-Host $env:APPVEYOR_REPO_BRANCH
    }
deploy:
 - provider: Environment
   name: Stok - Test
   on:
     branch: staging

 - provider: Environment
   name: Stok - LIVE
   on:
     branch: master