image: Visual Studio 2022
configuration: Release
#platform: Any CPU

before_build:
- cmd: nuget restore src/HomeInventoryWebApi.sln

build:
  project: src/HomeInventoryWebApi.sln
  publish_wap: true
  verbosity: minimal

after_build:
- ps: >-
    dotnet publish --self-contained -r win-x86 -o publish/WebBlazor -c Release src\Presentation\WebBlazor/WebBlazor.csproj

    7z a WebBlazor.zip .\publish\WebBlazor\*

    appveyor PushArtifact WebBlazor.zip
deploy:
 - provider: Environment
   name: Stok - Test
   on:
     branch: blazor-app

 - provider: Environment
   name: Stok - LIVE
   on:
     branch: master