@*<td class="text-end"><a class="btn btn-secondary" href="/Category/Edit?Id=@(category.Id)">Düzenle</a></td>*@
@if (category.HasChild)
{
    <MudPaper>
        <MudExpansionPanels MultiExpansion="true">
            <MudExpansionPanel Text="@category.Name">
                @foreach (var child in category.Children)
                {
                    <CategoryListItem category="child" indent="2" />
                }
            </MudExpansionPanel>
        </MudExpansionPanels>
    </MudPaper>
}
else
{
    <MudPaper>
        <MudText>@category.Name</MudText>
    </MudPaper>
}

@code {
    [Parameter] public HomeInv.Common.Entities.CategoryEntity category { get; set; }
    [Parameter] public int indent { get; set; }
}
