@inject SignInManager<HomeInv.Persistence.Dbo.User> SignInManager
@inject UserManager<HomeInv.Persistence.Dbo.User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="flex-shrink-0 dropdown">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="rounded-circle border text-white" style="padding-left:5px; padding-right:5px;">C</span>
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" style="">
            <li><a class="dropdown-item" asp-area="" asp-page="/UserSetting/Index">Seçenekler</a></li>
            <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Hesap Ayarları</a></li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <button type="submit" class="dropdown-item">Çıkış</button>
                </form>
            </li>
        </ul>
    </div>
}
else
{
    <div class="text-end">
        <a class="btn btn-outline-light me-2" asp-area="Identity" asp-page="/Account/Login">Giriş</a>
        <a class="btn btn-warning" asp-area="Identity" asp-page="/Account/Register">Yeni Kayıt</a>
    </div>
}
