@inject SignInManager<HomeInv.Persistence.Dbo.User> SignInManager
@inject UserManager<HomeInv.Persistence.Dbo.User> UserManager


<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    @if (SignInManager.IsSignedIn(User))
    {
        <li>
            <a class="nav-link px-2 text-secondary" asp-area="" asp-page="/Stock/Overview">Stok Durum/Güncelleme</a>
        </li>
        <li>&nbsp;|&nbsp;</li>
        <li class="nav-item">
            <a class="nav-link px-2 text-white" asp-area="" asp-page="/Category/List">Kategoriler</a>
        </li>
        <li>
            <a class="nav-link px-2 text-white" asp-area="" asp-page="/Item/List">İtem Tanımları</a>
        </li>
        <li>&nbsp;|&nbsp;</li>
        <li>
            <a class="nav-link px-2 text-white" asp-area="" asp-page="/Area/List">Odalar</a>
        </li>
        <li>
            <a class="nav-link px-2 text-white" asp-area="" asp-page="/Home/List">Evler</a>
        </li>
    }
</ul>
@if (SignInManager.IsSignedIn(User))
{
    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
    </form>
}
