@inject SignInManager<HomeInv.Persistence.Dbo.User> SignInManager
@inject UserManager<HomeInv.Persistence.Dbo.User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="dropdown">
        <a href="/" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 text-decoration-none dropdown-toggle" id="dropdownNavLink" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="~/assets/s-logo-blue-white.png" height="32" style="margin-right:8px;" />
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownNavLink">
            @*<li><a class="dropdown-item active" aria-current="page" asp-area="" asp-page="/Stock/Overview">Stok Durum/Güncelleme</a></li>*@
            <li><a class="dropdown-item" asp-area="" asp-page="/Stock/Overview">Stok Durum/Güncelleme</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" asp-area="" asp-page="/Category/List">Kategoriler</a></li>
            <li><a class="dropdown-item" asp-area="" asp-page="/Item/List">İtem Tanımları</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" asp-area="" asp-page="/Area/List">Odalar</a></li>
            <li><a class="dropdown-item" asp-area="" asp-page="/Home/List">Evler</a></li>
        </ul>
    </div>
    <div class="d-flex align-items-center">
        <form class="w-100 me-3">
            <input type="search" class="form-control" placeholder="Search... (çalışmıyor)" aria-label="Search">
        </form>
        <div class="flex-shrink-0 dropdown">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="rounded-circle border text-white" style="padding-left:5px; padding-right:5px;">C</span>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" style="">
                <li><a class="dropdown-item" asp-area="" asp-page="/UserSetting/Index">Seçenekler</a></li>
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Hesap Ayarları</a></li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                        <button type="submit" class="dropdown-item">Çıkış</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
}
else
{
    <a href="/" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 text-decoration-none">
        <img src="~/assets/s-logo-blue-white.png" height="32" style="margin-right:8px;" />
    </a>
    <div class="text-end">
        <a class="btn btn-outline-light me-2" asp-area="Identity" asp-page="/Account/Login">Giriş</a>
        <a class="btn btn-warning" asp-area="Identity" asp-page="/Account/Register">Yeni Kayıt</a>
    </div>
}
