@page
@model WebUI.Pages.Stock.UpdateRemainingStockModel
@{
    ViewData["Title"] = "Stok Durumu Güncelleme";
}

<div class="accordion" id="stockAmountAccordion">
    <div class="accordion-item">
        <h2 class="accordion-header" id="updateByRemainingAmountHeading">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRemAmt" aria-expanded="true" aria-controls="collapseRemAmt">
                <i class="bi bi-droplet-half"></i> Stokta Kalan Miktara Göre Güncelleme
            </button>
        </h2>
        <div id="collapseRemAmt" class="accordion-collapse collapse show" aria-labelledby="updateByRemainingAmountHeading" data-bs-parent="#stockAmountAccordion">
            <div class="accordion-body">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input asp-for=ItemStockId type="hidden" />

                    <div class="form-group">
                        <label asp-for="StockActionTypeId" class="control-label"></label>
                        <select asp-for="StockActionTypeId" asp-items="Model.StockActionTypes" class="form-select"></select>
                        <span asp-validation-for="StockActionTypeId" class="text-danger"></span>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label asp-for="RemainingAmount" class="control-label"></label>
                        <input asp-for="RemainingAmount" class="form-control" /><span>Boyut Birimi: @Model.SizeUnitName</span>
                        <span asp-validation-for="RemainingAmount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ActionDate" class="control-label"></label>
                        <input asp-for="ActionDate" type="date" class="form-control" />
                        <span asp-validation-for="ActionDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ActionTarget" class="control-label"></label>
                        <input asp-for="ActionTarget" type="text" class="form-control" />
                        <span asp-validation-for="ActionTarget" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Kaydet" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="updateByConsumedAmountHeading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseConAmt" aria-expanded="false" aria-controls="collapseConAmt">
                <i class="bi bi-moisture"></i> Tüketilen Miktara Göre Güncelleme
            </button>
        </h2>
        <div id="collapseConAmt" class="accordion-collapse collapse" aria-labelledby="updateByConsumedAmountHeading" data-bs-parent="#stockAmountAccordion">
            <div class="accordion-body">
                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
        </div>
    </div>
</div>