@inherits LayoutComponentBase

<PageTitle>Stok</PageTitle>

<MudThemeProvider IsDarkMode="true" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <img src="/assets/s-logo-blue-white.png" height="32" />&nbsp;Stok
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
            @Body
        </MudContainer>
    </MudMainContent>
    @*<div class="page">
        <main>
            <div class="top-row px-4 auth bg-dark text-white">
                <LoginDisplay />
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>*@
</MudLayout>

@code{
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}