@page
@model WebUI.Pages.Category.ListModel
@{
    ViewData["Title"] = "Kategoriler";
}

<h1>Kategoriler</h1>
<a class="btn btn-primary" asp-page="Create">Yeni Kategori</a>

<hr />

<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>Kategori</th>
            <th>Açıklama</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Categories)
        {
            @(await Html.RenderComponentAsync<ListItem>(RenderMode.Static, new { category = category, indent = 1 }))
        }
    </tbody>
</table>
