<tr style="@(indent > 1 ? "border-left: 0.5px solid;" : "")">
    <td>@(category.Name)</td>
    <td>@(category.Description)</td>
    <td class="text-end"><a class="btn btn-secondary" href="/Category/Edit?Id=@(category.Id)">Düzenle</a></td>
</tr>
@if (category.HasChild)
{
    <tr>
        <td colspan="3" style="padding-right: 0">
            <table class="table table-dark table-hover table-borderless" style="padding-left: @(indent * 10)px; margin-bottom: 0">
                <tbody>
                    @foreach (var child in category.Children)
                    {
                        <ListItem category="child" indent="2" />
                    }
                </tbody>
            </table>
        </td>
    </tr>
}

@code {
    [Parameter] public HomeInv.Common.Entities.CategoryEntity category { get; set; }
    [Parameter] public int indent { get; set; }
}
