<div class="row">
    <div class="col-6">@(item.Name)</div>
    <div class="col-6">@(item.Description)</div>
</div>

@code {
    [Parameter] public HomeInv.Common.Entities.ItemDefinitionEntity item { get; set; }
}
